body {
    width: 100%;
}

ul {
    padding-left: 30px;
}

.profile{
    display: flex;
    flex-direction: row;
}

.infos{
    width: 50%;
    height: 50%;
    text-align: center;
    display: inline-block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #999;
}

.img{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}

.publication{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}